body{
  padding: 25px;
  background-color: #333432;
}
.title {
	color: #5C6AC4;
}
.GoButton {
  background-color: #519635;
  border-radius: 12px;
  font-size: 25px;
}
input[type="radio"] {
  display: inline-table;
  width:fit-content;
  table-layout: Fixed;
  margin-right: 10px;
}
.RadioFields {
  display: inline-table;
  table-layout: fixed;
  width:100%;
}
.RadioTitle {
  display:inline-table;
  width: 8em;
}